html
    head
        title Search
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        include ../views/shortcut
        h1 Medium: 
        input#medium(type='text', name='medium')
        h1 Category: 
        input#category(type='text', name='category')
        h1 Title: 
        input#title(type='text', name='title')
        h1 Year: 
        input#year(type='text', name='year')
        h1 Description: 
        input#description(type='text', name='description')
        h1 Poster: 
        input#poster(type='text', name='poster')
        br
        div.button
            button#add(type = "button" onclick="add()") Add Gallery


        script(src="/addgallery.js")