html
    head
        title Header 
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        div.link
            a(href="/") Home 
            | _
            a(href="/gallery") Gallery
            | _
            a(href="/workshops") Workshops 
            | _
            a(href="/artists") Artists 
            | _
            a(href="/search") Search
            | _
            a(href="/profile") Your Profile 
            | _
            a(href="/login") Login
            | _
            a(href="/register") Register