html
    head
        title Home page 
        link(rel="stylesheet" type="text/css" href="/styles.css")
    body
        include ../views/shortcut
        h4 Kevin's Art Gallery
        br
        h6 Access the rest of the gallery by clicking the shortcuts above